In [1]:
import datetime

In [6]:
mytime = datetime.time(2, 20,10,45)

In [7]:
print(mytime)

02:20:10.000045

In [8]:
mytime.microsecond

45

In [9]:
mytime.hour

2

In [10]:
type(mytime)

datetime.time

In [11]:
today = datetime.date.today()

In [12]:
today # year month  day most languages follows these format

datetime.date(2022, 12, 23)

In [15]:
today.year

2022

In [14]:
today.ctime() # here is not information about time

'Fri Dec 23 00:00:00 2022'

datetime module for both info of date and time

In [16]:
from datetime import datetime

In [17]:
mydatetime = datetime(2016, 10, 3, 14, 20, 1)

In [18]:
print(mydatetime)

2016-10-03 14:20:01

In [21]:
mydatetime.replace(year=2017)

datetime.datetime(2017, 10, 3, 14, 20, 1)

In [22]:
print(mydatetime)

2016-10-03 14:20:01

In [23]:
mydatetime = mydatetime.replace(year=2017)

In [24]:
print(mydatetime)

2017-10-03 14:20:01

In [38]:
from datetime import date

In [27]:
date1 = date(2016, 7, 24)

In [28]:
date2   = date(2016, 7, 2)

In [31]:
result = date1 - date2

In [32]:
type(result)

datetime.timedelta

In [33]:
result.days

22

In [34]:
result.total_seconds()

1900800.0

Note: For Leap Year : 366 days

In [43]:
date3 = date(2016, 2, 13)

In [44]:
date4 = date(2017, 2, 13)

In [45]:
result = date4 - date3

In [46]:
result

datetime.timedelta(days=366)

In [47]:
from datetime import datetime

In [75]:
datetime1 = datetime(2016, 7, 24, 22, 30, 45)

In [76]:
datetime2   = datetime(2016, 7, 2, 12, 30, 45)

In [77]:
result = datetime1 - datetime2

In [78]:
result

datetime.timedelta(days=22, seconds=36000)

In [79]:
result.seconds

36000

In [80]:
result.total_seconds()

1936800.0