In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_json('MyData/StreamingHistory0.json')

In [3]:
data.head()

            endTime artistName                             trackName  msPlayed
0  2021-12-16 12:22    Mithoon  Aashiqui Aa Gayi(From "Radhe Shyam")     90000
1  2021-12-17 17:51    Mithoon  Aashiqui Aa Gayi(From "Radhe Shyam")     15868
2  2021-12-17 17:58      Sanam               Aap Ki Nazron Ne Samjha    186737
3  2021-12-17 18:01      Sanam               Aap Ki Nazron Ne Samjha    186737
4  2021-12-17 18:05      Sanam               Aap Ki Nazron Ne Samjha    164350

In [11]:
data.tail()

               endTime       artistName       trackName  msPlayed
7104  2022-12-17 11:04  Director Fizzix      You and Me    151244
7105  2022-12-17 11:08             Joji   Glimpse of Us    233456
7106  2022-12-17 11:11         Dua Lipa      Levitating    203807
7107  2022-12-17 11:14    Billie Eilish  Six Feet Under    189613
7108  2022-12-17 11:17  Duncan Laurence          Arcade    185146

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7109 entries, 0 to 7108
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   endTime     7109 non-null   object
 1   artistName  7109 non-null   object
 2   trackName   7109 non-null   object
 3   msPlayed    7109 non-null   int64
dtypes: int64(1), object(3)
memory usage: 222.3+ KB

In [21]:
data.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
msPlayed,7109.0,149021.381348,112346.929511,0.0,30890.0,182600.0,223840.0,3243111.0

In [22]:
mycol = ["artistName","trackName"]
data[mycol]

           artistName                             trackName
0             Mithoon  Aashiqui Aa Gayi(From "Radhe Shyam")
1             Mithoon  Aashiqui Aa Gayi(From "Radhe Shyam")
2               Sanam               Aap Ki Nazron Ne Samjha
3               Sanam               Aap Ki Nazron Ne Samjha
4               Sanam               Aap Ki Nazron Ne Samjha
...               ...                                   ...
7104  Director Fizzix                            You and Me
7105             Joji                         Glimpse of Us
7106         Dua Lipa                            Levitating
7107    Billie Eilish                        Six Feet Under
7108  Duncan Laurence                                Arcade

[7109 rows x 2 columns]

In [23]:
data.drop("artistName",axis=1)

               endTime                             trackName  msPlayed
0     2021-12-16 12:22  Aashiqui Aa Gayi(From "Radhe Shyam")     90000
1     2021-12-17 17:51  Aashiqui Aa Gayi(From "Radhe Shyam")     15868
2     2021-12-17 17:58               Aap Ki Nazron Ne Samjha    186737
3     2021-12-17 18:01               Aap Ki Nazron Ne Samjha    186737
4     2021-12-17 18:05               Aap Ki Nazron Ne Samjha    164350
...                ...                                   ...       ...
7104  2022-12-17 11:04                            You and Me    151244
7105  2022-12-17 11:08                         Glimpse of Us    233456
7106  2022-12-17 11:11                            Levitating    203807
7107  2022-12-17 11:14                        Six Feet Under    189613
7108  2022-12-17 11:17                                Arcade    185146

[7109 rows x 3 columns]

In [24]:
data

,endTime,artistName,trackName,msPlayed
0,2021-12-16 12:22,Mithoon,"Aashiqui Aa Gayi(From ""Radhe Shyam"")",90000
1,2021-12-17 17:51,Mithoon,"Aashiqui Aa Gayi(From ""Radhe Shyam"")",15868
2,2021-12-17 17:58,Sanam,Aap Ki Nazron Ne Samjha,186737
3,2021-12-17 18:01,Sanam,Aap Ki Nazron Ne Samjha,186737
4,2021-12-17 18:05,Sanam,Aap Ki Nazron Ne Samjha,164350
...,...,...,...,...
7104,2022-12-17 11:04,Director Fizzix,You and Me,151244
7105,2022-12-17 11:08,Joji,Glimpse of Us,233456
7106,2022-12-17 11:11,Dua Lipa,Levitating,203807
7107,2022-12-17 11:14,Billie Eilish,Six Feet Under,189613
7108,2022-12-17 11:17,Duncan Laurence,Arcade,185146

In [26]:
data.columns

Index(['endTime', 'artistName', 'trackName', 'msPlayed'], dtype='object')

In [27]:
data.index

RangeIndex(start=0, stop=7109, step=1)

Set Index as endTime

In [28]:
data.set_index("endTime")

,artistName,trackName,msPlayed
endTime,,,
2021-12-16 12:22,Mithoon,"Aashiqui Aa Gayi(From ""Radhe Shyam"")",90000
2021-12-17 17:51,Mithoon,"Aashiqui Aa Gayi(From ""Radhe Shyam"")",15868
2021-12-17 17:58,Sanam,Aap Ki Nazron Ne Samjha,186737
2021-12-17 18:01,Sanam,Aap Ki Nazron Ne Samjha,186737
2021-12-17 18:05,Sanam,Aap Ki Nazron Ne Samjha,164350
...,...,...,...
2022-12-17 11:04,Director Fizzix,You and Me,151244
2022-12-17 11:08,Joji,Glimpse of Us,233456
2022-12-17 11:11,Dua Lipa,Levitating,203807
2022-12-17 11:14,Billie Eilish,Six Feet Under,189613
2022-12-17 11:17,Duncan Laurence,Arcade,185146

In [29]:
data.head(2)

            endTime artistName                             trackName  msPlayed
0  2021-12-16 12:22    Mithoon  Aashiqui Aa Gayi(From "Radhe Shyam")     90000
1  2021-12-17 17:51    Mithoon  Aashiqui Aa Gayi(From "Radhe Shyam")     15868

In [36]:
data.iloc[0] #number based

endTime                           2021-12-16 12:22
artistName                                 Mithoon
trackName     Aashiqui Aa Gayi(From "Radhe Shyam")
msPlayed                                     90000
Name: 0, dtype: object

In [45]:
data.loc[0] #string/labeled based

endTime                           2021-12-16 12:22
artistName                                 Mithoon
trackName     Aashiqui Aa Gayi(From "Radhe Shyam")
msPlayed                                     90000
Name: 0, dtype: object

In [38]:
df = data.set_index("endTime")
df.head(2)

                 artistName                             trackName  msPlayed
endTime
2021-12-16 12:22    Mithoon  Aashiqui Aa Gayi(From "Radhe Shyam")     90000
2021-12-17 17:51    Mithoon  Aashiqui Aa Gayi(From "Radhe Shyam")     15868

In [43]:
df.iloc[0:5]

                 artistName                             trackName  msPlayed
endTime
2021-12-16 12:22    Mithoon  Aashiqui Aa Gayi(From "Radhe Shyam")     90000
2021-12-17 17:51    Mithoon  Aashiqui Aa Gayi(From "Radhe Shyam")     15868
2021-12-17 17:58      Sanam               Aap Ki Nazron Ne Samjha    186737
2021-12-17 18:01      Sanam               Aap Ki Nazron Ne Samjha    186737
2021-12-17 18:05      Sanam               Aap Ki Nazron Ne Samjha    164350

In [46]:
# df.loc("2021-12-16 12:22")

In [35]:
df   = df.reset_index()
df

,endTime,artistName,trackName,msPlayed
0,2021-12-16 12:22,Mithoon,"Aashiqui Aa Gayi(From ""Radhe Shyam"")",90000
1,2021-12-17 17:51,Mithoon,"Aashiqui Aa Gayi(From ""Radhe Shyam"")",15868
2,2021-12-17 17:58,Sanam,Aap Ki Nazron Ne Samjha,186737
3,2021-12-17 18:01,Sanam,Aap Ki Nazron Ne Samjha,186737
4,2021-12-17 18:05,Sanam,Aap Ki Nazron Ne Samjha,164350
...,...,...,...,...
7104,2022-12-17 11:04,Director Fizzix,You and Me,151244
7105,2022-12-17 11:08,Joji,Glimpse of Us,233456
7106,2022-12-17 11:11,Dua Lipa,Levitating,203807
7107,2022-12-17 11:14,Billie Eilish,Six Feet Under,189613
7108,2022-12-17 11:17,Duncan Laurence,Arcade,185146

Filtering the rows

In [47]:
data[data['msPlayed']>90000]

,endTime,artistName,trackName,msPlayed
2,2021-12-17 17:58,Sanam,Aap Ki Nazron Ne Samjha,186737
3,2021-12-17 18:01,Sanam,Aap Ki Nazron Ne Samjha,186737
4,2021-12-17 18:05,Sanam,Aap Ki Nazron Ne Samjha,164350
5,2021-12-17 18:07,"Sippy Gill, Desi Roots",Suhe Bullan Waliye,162857
9,2021-12-21 13:57,"Sippy Gill, Desi Roots",Suhe Bullan Waliye,162857
...,...,...,...,...
7104,2022-12-17 11:04,Director Fizzix,You and Me,151244
7105,2022-12-17 11:08,Joji,Glimpse of Us,233456
7106,2022-12-17 11:11,Dua Lipa,Levitating,203807
7107,2022-12-17 11:14,Billie Eilish,Six Feet Under,189613
7108,2022-12-17 11:17,Duncan Laurence,Arcade,185146

In [50]:
data.dtypes

endTime       object
artistName    object
trackName     object
msPlayed       int64
dtype: object

In [52]:
# data[(data['msPlayed']>10000) & (df["artistName"] == "Joji")]

And --> &

Or --> |

In [4]:
data['msPlayed'].sum()/1000/60/60

294.2758333333333

In [59]:
# data[(data['artistName']=="Sanam")|(data["artistName"] == "Joji")]

In [56]:
options = ["Sanam","Joji"]

In [60]:
# data["artistName"].isin(options)

In [61]:
# data[data["artistName"].isin(options)]

In [13]:
len(data["artistName"].unique())

553

In [62]:
str(123456789)[0:3]

'123'

In [63]:
str(123456789)[-3:]

'789'

In [64]:
str(123456789)[::-1]

'987654321'

Apply method on single column

In [65]:
def first_three(x):
    return str(x)[0:3]

In [67]:
data['fir_three']=data['msPlayed'].apply(first_three)

In [69]:
data.head(2)

,endTime,artistName,trackName,msPlayed,fir_three
0,2021-12-16 12:22,Mithoon,"Aashiqui Aa Gayi(From ""Radhe Shyam"")",90000,900
1,2021-12-17 17:51,Mithoon,"Aashiqui Aa Gayi(From ""Radhe Shyam"")",15868,158

In [70]:
data['msPlayed'].apply(lambda x: str(x)[0:3])

0       900
1       158
2       186
3       186
4       164
       ...
7104    151
7105    233
7106    203
7107    189
7108    185
Name: msPlayed, Length: 7109, dtype: object

Apply method on multiple columns

In [80]:
data

,endTime,artistName,trackName,msPlayed,fir_three
0,2021-12-16 12:22,Mithoon,"Aashiqui Aa Gayi(From ""Radhe Shyam"")",90000,900
1,2021-12-17 17:51,Mithoon,"Aashiqui Aa Gayi(From ""Radhe Shyam"")",15868,158
2,2021-12-17 17:58,Sanam,Aap Ki Nazron Ne Samjha,186737,186
3,2021-12-17 18:01,Sanam,Aap Ki Nazron Ne Samjha,186737,186
4,2021-12-17 18:05,Sanam,Aap Ki Nazron Ne Samjha,164350,164
...,...,...,...,...,...
7104,2022-12-17 11:04,Director Fizzix,You and Me,151244,151
7105,2022-12-17 11:08,Joji,Glimpse of Us,233456,233
7106,2022-12-17 11:11,Dua Lipa,Levitating,203807,203
7107,2022-12-17 11:14,Billie Eilish,Six Feet Under,189613,189
7108,2022-12-17 11:17,Duncan Laurence,Arcade,185146,185

In [94]:
data['msPlayed'].describe()

count    7.109000e+03
mean     1.490214e+05
std      1.123469e+05
min      0.000000e+00
25%      3.089000e+04
50%      1.826000e+05
75%      2.238400e+05
max      3.243111e+06
Name: msPlayed, dtype: float64

In [84]:
data.dtypes

endTime       object
artistName    object
trackName     object
msPlayed       int64
fir_three     object
dtype: object

In [85]:
def con_int(x):
    return int(x)

In [86]:
data['fir_three']=data['fir_three'].apply(con_int)

In [87]:
data.dtypes

endTime       object
artistName    object
trackName     object
msPlayed       int64
fir_three      int64
dtype: object

In [88]:
data['msPlayed']/data['fir_three']

0        100.000000
1        100.430380
2       1003.962366
3       1003.962366
4       1002.134146
           ...
7104    1001.615894
7105    1001.957082
7106    1003.975369
7107    1003.243386
7108    1000.789189
Length: 7109, dtype: float64

In [82]:
data['msPlayed']

0        90000
1        15868
2       186737
3       186737
4       164350
         ...
7104    151244
7105    233456
7106    203807
7107    189613
7108    185146
Name: msPlayed, Length: 7109, dtype: int64

In [81]:
data['fir_three']

0       900
1       158
2       186
3       186
4       164
       ...
7104    151
7105    233
7106    203
7107    189
7108    185
Name: fir_three, Length: 7109, dtype: object

In [92]:
def quality(msPlayed,fir_three):
    if msPlayed/fir_three > 500:
        return "Good"
    else:
        return "Bad"

In [90]:
data[['msPlayed','fir_three']].apply(lambda data:quality(data['msPlayed'],data['fir_three']),axis=1)

/tmp/ipykernel_2160/1097993859.py:2: RuntimeWarning: invalid value encountered in long_scalars
  if msPlayed/fir_three > 500:

0        Bad
1        Bad
2       Good
3       Good
4       Good
        ...
7104    Good
7105    Good
7106    Good
7107    Good
7108    Good
Length: 7109, dtype: object

In [104]:
# np.vectorize(quality)(data['msPlayed'],data['fir_three'])

In [95]:
data['msPlayed'].describe()

count    7.109000e+03
mean     1.490214e+05
std      1.123469e+05
min      0.000000e+00
25%      3.089000e+04
50%      1.826000e+05
75%      2.238400e+05
max      3.243111e+06
Name: msPlayed, dtype: float64

There are 3 zero values in the column, so we get ZeroDivisionError

In [102]:
data[data['msPlayed']==0].index

Int64Index([  24,   25,   26,   32,   33,   34,   35,   41,   68,  163,
            ...
            6738, 6745, 7053, 7076, 7081, 7093, 7094, 7095, 7096, 7098],
           dtype='int64', length=102)

In [103]:
data=data.drop(data[data['msPlayed']==0].index,axis=0)

In [105]:
np.vectorize(quality)(data['msPlayed'],data['fir_three'])

array(['Bad', 'Bad', 'Good', ..., 'Good', 'Good', 'Good'], dtype='<U4')

Sort Values with paticular columns

In [106]:
data.sort_values(by='msPlayed',ascending=False)

,endTime,artistName,trackName,msPlayed,fir_three
478,2022-02-13 07:11,MEDITATION SELF,"Study Music, Concentration, Focus, Meditation,...",3243111,324
1718,2022-03-16 11:19,Nusrat Fateh Ali Khan,Tumhain Dillagi Bhool Jani Paray Gi,938199,938
3292,2022-04-17 10:57,Yashal Shahid,Mere Humsafar (Original Score) [Female Version],862812,862
1714,2022-03-16 10:44,Nusrat Fateh Ali Khan,Kali Kali Zulfon Ke Phande Na,859345,859
1081,2022-03-08 10:10,Nusrat Fateh Ali Khan,Ye Jo Halka Halka Saroor,782444,782
...,...,...,...,...,...
639,2022-02-27 06:24,Selena Gomez,Wolves,23,23
5622,2022-08-12 04:27,Babbal Rai,Tere Layi,23,23
3714,2022-05-04 13:05,JP Saxe,Kissin' In The Cold,23,23
3418,2022-04-23 13:11,Justin Bieber,Peaches (feat. Daniel Caesar & Giveon),23,23
7,2021-12-21 13:54,"Sippy Gill, Desi Roots",Suhe Bullan Waliye,1,1

In [107]:
data.sort_values(by=['msPlayed','fir_three'],ascending=False)

,endTime,artistName,trackName,msPlayed,fir_three
478,2022-02-13 07:11,MEDITATION SELF,"Study Music, Concentration, Focus, Meditation,...",3243111,324
1718,2022-03-16 11:19,Nusrat Fateh Ali Khan,Tumhain Dillagi Bhool Jani Paray Gi,938199,938
3292,2022-04-17 10:57,Yashal Shahid,Mere Humsafar (Original Score) [Female Version],862812,862
1714,2022-03-16 10:44,Nusrat Fateh Ali Khan,Kali Kali Zulfon Ke Phande Na,859345,859
1081,2022-03-08 10:10,Nusrat Fateh Ali Khan,Ye Jo Halka Halka Saroor,782444,782
...,...,...,...,...,...
5283,2022-07-26 16:57,Justin Bieber,Peaches (feat. Daniel Caesar & Giveon),23,23
5318,2022-07-28 06:40,Russ,Nobody Knows,23,23
5622,2022-08-12 04:27,Babbal Rai,Tere Layi,23,23
6400,2022-10-10 06:41,Taylor Swift,Lover,23,23
7,2021-12-21 13:54,"Sippy Gill, Desi Roots",Suhe Bullan Waliye,1,1

In [108]:
data['msPlayed'].max()

3243111

In [109]:
data['msPlayed'].idxmax()

478

In [111]:
data.loc[478] # tell which row at 478 index

endTime                                        2022-02-13 07:11
artistName                                      MEDITATION SELF
trackName     Study Music, Concentration, Focus, Meditation,...
msPlayed                                                3243111
fir_three                                                   324
Name: 478, dtype: object

In [112]:
data.iloc[478]# tell 478th row

endTime       2022-02-13 17:22
artistName               Akhil
trackName            Teri Kami
msPlayed                261538
fir_three                  261
Name: 504, dtype: object

In [113]:
data.corr()

/tmp/ipykernel_2160/2627137660.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.corr()

           msPlayed  fir_three
msPlayed   1.000000  -0.246392
fir_three -0.246392   1.000000

In [114]:
data['artistName'].value_counts()

Ed Sheeran        557
Taylor Swift      347
Shawn Mendes      245
Ellie Goulding    221
Justin Bieber     205
                 ...
Jagjit Singh        1
Jeremy Zucker       1
Ami Mishra          1
Boyce Avenue        1
Danny Gokey         1
Name: artistName, Length: 549, dtype: int64

In [149]:
# data['artistName'].unique()

Replace the values

In [127]:
new_df = pd.DataFrame(['Female','Male','Female','Male'],[100,200,100,150])
new_df=new_df.reset_index()

In [128]:
new_df.columns = ["Salary",'Sex']

In [129]:
new_df

   Salary     Sex
0     100  Female
1     200    Male
2     100  Female
3     150    Male

In [130]:
new_df['Sex'].replace(["Female","Male"],["F","M"])

0    F
1    M
2    F
3    M
Name: Sex, dtype: object

In [131]:
rep = {"Female":"F","Male":"M"}

In [132]:
new_df["Sex"].map(rep)

0    F
1    M
2    F
3    M
Name: Sex, dtype: object

In [133]:
new_df.duplicated()

0    False
1    False
2     True
3    False
dtype: bool

In [134]:
new_df.drop_duplicates()

   Salary     Sex
0     100  Female
1     200    Male
3     150    Male

len(data['artistName'].unique())

In [136]:
data[data['fir_three'].between(500,700,inclusive=True)]

/tmp/ipykernel_2160/1621511768.py:1: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  data[data['fir_three'].between(500,700,inclusive=True)]

,endTime,artistName,trackName,msPlayed,fir_three
36,2021-12-26 13:51,Jaymes Young,Infinity,5761,576
45,2021-12-26 13:55,Witt Lowry,Into Your Arms (feat. Ava Max),62157,621
55,2021-12-26 14:21,Harrdy Sandhu,Bijlee Bijlee,57896,578
62,2021-12-26 14:39,Justin Bieber,Baby,60308,603
65,2021-12-26 14:42,Imagine Dragons,Believer,6462,646
...,...,...,...,...,...
7046,2022-12-05 07:07,Bilal Saeed,Baari,6594,659
7051,2022-12-06 12:28,Harvi,Kde Kde,60766,607
7062,2022-12-06 13:38,Shawn Mendes,There's Nothing Holdin' Me Back,61043,610
7063,2022-12-08 15:52,Shawn Mendes,There's Nothing Holdin' Me Back,6017,601
7077,2022-12-09 11:59,Farhan Saeed,Thodi Der,54822,548

In [143]:
data.nlargest(2,'msPlayed')

,endTime,artistName,trackName,msPlayed,fir_three
478,2022-02-13 07:11,MEDITATION SELF,"Study Music, Concentration, Focus, Meditation,...",3243111,324
1718,2022-03-16 11:19,Nusrat Fateh Ali Khan,Tumhain Dillagi Bhool Jani Paray Gi,938199,938

In [142]:
data.sort_values(by='msPlayed',ascending=False).head(2)

,endTime,artistName,trackName,msPlayed,fir_three
478,2022-02-13 07:11,MEDITATION SELF,"Study Music, Concentration, Focus, Meditation,...",3243111,324
1718,2022-03-16 11:19,Nusrat Fateh Ali Khan,Tumhain Dillagi Bhool Jani Paray Gi,938199,938

In [145]:
data.sort_values(by='msPlayed',ascending=False).iloc[0:2]

,endTime,artistName,trackName,msPlayed,fir_three
478,2022-02-13 07:11,MEDITATION SELF,"Study Music, Concentration, Focus, Meditation,...",3243111,324
1718,2022-03-16 11:19,Nusrat Fateh Ali Khan,Tumhain Dillagi Bhool Jani Paray Gi,938199,938

In [139]:
data.nsmallest(5,'msPlayed')

,endTime,artistName,trackName,msPlayed,fir_three
7,2021-12-21 13:54,"Sippy Gill, Desi Roots",Suhe Bullan Waliye,1,1
8,2021-12-21 13:54,"Sippy Gill, Desi Roots",Suhe Bullan Waliye,23,23
83,2021-12-27 13:37,Justin Bieber,Peaches (feat. Daniel Caesar & Giveon),23,23
117,2021-12-30 16:55,Imagine Dragons,Thunder,23,23
445,2022-02-11 08:48,Harrdy Sandhu,Bijlee Bijlee,23,23

In [141]:
data.sort_values(by='msPlayed',ascending=True).head(5)

,endTime,artistName,trackName,msPlayed,fir_three
7,2021-12-21 13:54,"Sippy Gill, Desi Roots",Suhe Bullan Waliye,1,1
2224,2022-03-30 06:03,Sunny,Rom Rom,23,23
3050,2022-04-09 09:49,Maroon 5,Memories,23,23
3414,2022-04-23 13:11,Taylor Swift,evermore (feat. Bon Iver),23,23
3418,2022-04-23 13:11,Justin Bieber,Peaches (feat. Daniel Caesar & Giveon),23,23

In [146]:
data.sample(5)

,endTime,artistName,trackName,msPlayed,fir_three
6775,2022-11-11 10:54,Satinder Sartaaj,Udaarian,342585,342
5298,2022-07-26 17:50,Glass Animals,Heat Waves,238805,238
3850,2022-05-11 11:34,JP Saxe,Kissin' In The Cold,82000,820
2316,2022-03-31 17:01,Charlie Puth,Attention,159865,159
5843,2022-08-16 05:22,Imagine Dragons,Thunder,187146,187

In [147]:
data.sample(frac=0.1)

,endTime,artistName,trackName,msPlayed,fir_three
6424,2022-10-12 04:57,Alec Benjamin,Let Me Down Slowly,169353,169
4313,2022-05-31 06:29,Abhay Jodhpurkar,Yeh Haseen Vadiyan (feat. Sowmya Krishnamachar...,134210,134
4021,2022-05-20 17:25,Ella Henderson,Ugly,213133,213
178,2021-12-30 19:15,Sia,Cheap Thrills,211666,211
5856,2022-08-16 06:12,Nabeel Shaukat Ali,Kooch,219219,219
...,...,...,...,...,...
6268,2022-09-26 04:57,Harvi,Kde Kde,200065,200
6932,2022-11-20 18:05,Arijit Singh,Jaan 'Nisaar (Arijit),11445,114
6044,2022-08-27 12:43,Vishal Mishra,"Kaise Hua (From ""Kabir Singh"")",234722,234
3387,2022-04-21 09:21,Shawn Mendes,Señorita,190799,190
998,2022-03-07 07:56,Ed Sheeran,Afterglow,185486,185

In [25]:
data.shape[0]

7109

In [16]:
len(data.trackName.unique())

1229

- Total Songs = 1229
- Total Artists =  553