In [2]:
import pandas as pd
import numpy as np

Pandas Series is a one-dimensional labeled array whose object size cannot be changed. You can also see it as the primary building block for a DataFrame, making up its rows and columns.

In [ ]:
# Creating a Pandas Series Using Dictionary
# Creating a Pandas Series Using ndarray
# Creating a Pandas Series Using Scalar Values

In [11]:
a =np.array(['a','e','i','o','u'])
print('lengthof array a:',len(a))
pd_ser = pd.Series(data=a)
pd_ser

lengthof array a: 5

0    a
1    e
2    i
3    o
4    u
dtype: object

In [19]:
pd_ser1 = pd.Series(a,index=['a','e','i','o','u'],name='ser_from_array')
pd_ser1

a    a
e    e
i    i
o    o
u    u
Name: ser_from_array, dtype: object

In [13]:
my_list = [1,2,3,4,5]
pd_ser2 = pd.Series(my_list)
pd_ser2

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [15]:
my_dict = {'Name':'John','Age':30,'City':'New York'}
pd_ser3 = pd.Series(my_dict)
pd_ser3

Name        John
Age           30
City    New York
dtype: object

In [18]:
d = {'a': 1, 'b': 2, 'c': 3}
ser = pd.Series(data=d, index=['a', 'y', 'z'])
ser

a    1.0
y    NaN
z    NaN
dtype: float64

In [20]:
ser = pd.Series(data=8.9, index=['a', 'y', 'z'])
ser

a    8.9
y    8.9
z    8.9
dtype: float64

Pandas DataFrame, on the other hand, is a two-dimensional structure with columns and rows whose size can be changed. You can also think of it as a dictionary of Series objects. 

Creating a Pandas DataFrame Using a Dictionary of Pandas Series
Creating a Pandas DataFrame Using a Dictionary of Lists or ndarrays
Creating a Pandas DataFrame Using a List of Dictionaries
Creating a Pandas DataFrame Using a Series

In [22]:
# Creating a Pandas DataFrame Using a Dictionary of Pandas Series
#Creating a DataFrame from a dictionary of Series
data = pd.DataFrame({
    "Class 1": pd.Series([22, 33, 38], index=["math avg", "science avg",  "english avg"]),
    "Class 2": pd.Series([45, 28, 36], index=["math avg", "science avg",  "english avg"]),
    "Class 3": pd.Series([32, 41, 47], index=["math avg", "science avg",  "english avg"])})

data

             Class 1  Class 2  Class 3
math avg          22       45       32
science avg       33       28       41
english avg       38       36       47

In [30]:
a =np.array(['a','e','i','o','u'])
print('lengthof array a:',len(a))
pd_ser = pd.Series(data=a)
pd_df = pd.DataFrame({'Vowels':pd_ser})
pd_df

lengthof array a: 5

  Vowels
0      a
1      e
2      i
3      o
4      u

In [25]:
# Creating a Pandas DataFrame Using a Dictionary of Lists or ndarrays

data = {
    "Class 1": [22, 33, 38],
    "Class 2": [45, 28, 36], 
    "Class 3": [32, 41, 47]}
df = pd.DataFrame(data=data, index=['math avg', 'science avg', 'english avg'])
df

             Class 1  Class 2  Class 3
math avg          22       45       32
science avg       33       28       41
english avg       38       36       47

In [31]:

#Creating a DataFrame from a list of dictionaries
data = [{"col1": 1, "col2": 2}, {"col1": 5, "col2": 10, "col3": 20}]
pd.DataFrame(data=data, index=['row1', 'row2'])

      col1  col2  col3
row1     1     2   NaN
row2     5    10  20.0

In [28]:
#Creating a DataFrame from a Series
data = pd.DataFrame({"Col1": pd.Series([22, 33, 38])})
data

   Col1
0    22
1    33
2    38

In [33]:
data = pd.DataFrame({"sex": pd.Series(['m','f','m','m','m','f'])})
data

  sex
0   m
1   f
2   m
3   m
4   m
5   f

In [37]:
data = pd.DataFrame({"pen": ['b','r','g','y','y','r','g','g']})
data

  pen
0   b
1   r
2   g
3   y
4   y
5   r
6   g
7   g

In [38]:
pd.get_dummies(data=data)

   pen_b  pen_g  pen_r  pen_y
0      1      0      0      0
1      0      0      1      0
2      0      1      0      0
3      0      0      0      1
4      0      0      0      1
5      0      0      1      0
6      0      1      0      0
7      0      1      0      0

In [39]:
pd.get_dummies(data=data,drop_first=True)

   pen_g  pen_r  pen_y
0      0      0      0
1      0      1      0
2      1      0      0
3      0      0      1
4      0      0      1
5      0      1      0
6      1      0      0
7      1      0      0